<form [formGroup]="permanentForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <mat-checkbox [formControl]="disableSelect">correspondence address same as permanent address</mat-checkbox>
    </div>
    <div>
        <mat-card-header>
            <mat-card-title>Permanent Address</mat-card-title>
        </mat-card-header>
    </div>
    <div class="content pt10" fxLayout="row" fxLayout.xs="column" fxFlexFill>
        <div class="mb10" fxFlex="15">
            <mat-form-field>
                <input matInput placeholder="Street Address" [disabled]="disableSelect.value" formcontrolname="street" name="street" [(ngModel)]="permanentInfo.street" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </div>
        <div fxFlex="15">
            <mat-form-field>
                <input matInput placeholder="Apartment/Unit #" [disabled]="disableSelect.value" formcontrolname="apartment" name="apartment" [(ngModel)]="permanentInfo.apartment" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </div>
        <div fxFlex="15">
            <mat-form-field>
                <input matInput placeholder="City" [disabled]="disableSelect.value" formcontrolname="city" name="city" [(ngModel)]="permanentInfo.city" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </div>
        <div fxFlex="15">
            <mat-form-field>
                <input matInput placeholder="State" [disabled]="disableSelect.value" formcontrolname="state" name="state" [(ngModel)]="permanentInfo.state" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </div>
        <div fxFlex="15">
            <mat-form-field>
                <input matInput placeholder="PIN Code" [disabled]="disableSelect.value" formcontrolname="pincode" name="pincode" [(ngModel)]="permanentInfo.pincode" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </div>
    </div>
</form>