<h2>{{formTitle}}</h2>
<div mat-dialog-content>

  <form [formGroup]="userForm">
  <mat-form-field *ngIf="!showEmail">
		<mat-chip-list #chipList formArrayName="email" appearance="outline">
			<mat-chip [color]="(item.invalid)?'warn':''" selected *ngFor="let item of emailList; let i=index" 
        [selectable]="true" 
        [removable]="removable"
			  (removed)="removeEmail(item)" 
        required name="chips">
        {{item.value}}
				<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
			</mat-chip>
      
      <input placeholder="enter emails " 
      [matChipInputFor]="chipList" 
      [matChipInputSeparatorKeyCodes]="seperatorKeysCodes " 
      [matChipInputAddOnBlur]="true "
      (matChipInputTokenEnd)="add($event) " style="height:100px ;" (paste)="paste($event)" />
		</mat-chip-list>
    <mat-hint>Add bulk email addresses</mat-hint>
	</mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Role</mat-label>
    <mat-select formControlName="role">
      <mat-option value="user">user</mat-option>
        <mat-option value="admin">admin</mat-option>
      </mat-select>
    <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
  </mat-form-field>

  <section class="example-section">
    <mat-checkbox class="example-margin" formControlName="docs">Request Profile</mat-checkbox><br><br>
    <!-- <mat-checkbox class="example-margin" formControlName="empForm">Request Employee details</mat-checkbox> -->
  </section>

</form>
  <mat-divider inset></mat-divider>

      <div class="btn">
        <button mat-raised-button color="dark" mat-dialog-close="">Cancel</button>&nbsp;
        <button mat-raised-button color="primary" type="submit" (click)="invite()">{{actionBtn}}</button>
      </div>
</div>

