<form [formGroup]="correspondenceForm"  (ngSubmit)="onSubmit()" #correspondence="ngForm">
    <div>
        <mat-card-header>
            <mat-card-title>Contact</mat-card-title>
        </mat-card-header>
    </div>
    <div class="content pt10" fxLayout="row" fxLayout.xs="column" fxFlexFill>
        <div class="mb10" fxFlex="15">
            <mat-form-field>
                <input matInput placeholder="Home Phone" formControlName="homePhone" name="homePhone" [(ngModel)]="correspondenceInfo.homePhone">
            </mat-form-field>
        </div>
        <div fxFlex="15">
            <mat-form-field>
                <input matInput placeholder="Mobile Phone" formControlName="mobilePhone" name="mobilePhone" [(ngModel)]="correspondenceInfo.mobilePhone"
                    [class.is-invalid]="correspondence.submitted && correspondenceForm.get('mobilePhone')?.invalid">
                <mat-error class="invalid-feedback">
                    Mobile number is required
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="15">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" formControlName="email" name="email" [(ngModel)]="correspondenceInfo.email"
                    [class.is-invalid]="correspondence.submitted && correspondenceForm.get('email')?.invalid">
                <mat-error class="invalid-feedback">
                    Email is required
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div>
        <mat-card-header>
            <mat-card-title>Correspondence Address</mat-card-title>
        </mat-card-header>
    </div>
    <div class="content pt10" fxLayout="row" fxLayout.xs="column" fxFlexFill>
        <div class="mb10" fxFlex="15">
            <mat-form-field>
                <input matInput placeholder="Street Address" formControlName="street" name="street" [(ngModel)]="correspondenceInfo.street"
                    [class.is-invalid]="correspondence.submitted && correspondenceForm.get('street')?.invalid">
                <mat-error class="invalid-feedback">
                    Street address is required
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="15">
            <mat-form-field>
                <input matInput placeholder="Apartment/Unit #" formControlName="apartment" name="apartment" [(ngModel)]="correspondenceInfo.apartment"
                    [class.is-invalid]="correspondence.submitted && correspondenceForm.get('apartment')?.invalid">
                <mat-error class="invalid-feedback">
                    Apartment/Unit is required
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="15">
            <mat-form-field>
                <input matInput placeholder="City" formControlName="city" name="city" [(ngModel)]="correspondenceInfo.city"
                    [class.is-invalid]="correspondence.submitted && correspondenceForm.get('city')?.invalid">
                <mat-error class="invalid-feedback">
                    City is required
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="15">
            <mat-form-field> 
                <input matInput placeholder="State" formControlName="state" name="state" [(ngModel)]="correspondenceInfo.state"
                    [class.is-invalid]="correspondence.submitted && correspondenceForm.get('state')?.invalid">
                <mat-error class="invalid-feedback">
                    State is required
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="15">
            <mat-form-field>
                <input matInput placeholder="PIN Code" formControlName="pincode" name="pincode" [(ngModel)]="correspondenceInfo.pincode"
                    [class.is-invalid]="correspondence.submitted && correspondenceForm.get('pincode')?.invalid">
                <mat-error class="invalid-feedback">
                    PIN code is required
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div align="end">
        <button type="submit" mat-raised-button color="primary">Save & continue </button>
    </div>
</form>