<form [formGroup]="emergencyInfoFormGroup" (ngSubmit)="onSubmit()" #emergency="ngForm">
    <h3>Medical Contact (Optional)</h3>
    <div class="content pt10" fxLayout="row" fxLayout.xs="column" fxFlexFill>
        <div class="mb10" fxFlex="15">
            <mat-form-field appearance="fill">
                <mat-label>Physician Name</mat-label>
                <input matInput placeholder="Michal" formControlName="physician" name="physician"
                    [(ngModel)]="emergencyInfo.physician">
            </mat-form-field>
        </div>
        <div fxFlex="15">
            <mat-form-field appearance="fill">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="9678574632" formControlName="phoneNumber" name="phoneNumber"
                    [(ngModel)]="emergencyInfo.phoneNumber">
            </mat-form-field>
        </div>
        <div fxFlex="15">
            <mat-form-field appearance="fill">
                <mat-label>Blood Group</mat-label>
                <input matInput placeholder="O+" formControlName="physician" name="physician"
                    [(ngModel)]="emergencyInfo.physician">
            </mat-form-field>
        </div>
    </div>
    <h3>Primary Emergency Contact</h3>
    <div class="content pt10" fxLayout="row" fxLayout.xs="column" fxFlexFill>
        <div class="mb10" fxFlex="15">
            <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Jack" formControlName="firstName" name="firstName"
                    [(ngModel)]="emergencyInfo.firstName">
            </mat-form-field>
        </div>
        <div fxFlex="15">
            <mat-form-field appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="sparrow" formControlName="lastName" name="lastName"
                    [(ngModel)]="emergencyInfo.lastName">
            </mat-form-field>
        </div>
        <div fxFlex="15">
            <mat-form-field appearance="fill">
                <mat-label>Relationship</mat-label>
                <input matInput placeholder="sparrow" formControlName="lastName" name="lastName"
                    [(ngModel)]="emergencyInfo.lastName">
            </mat-form-field>
        </div>
    </div>
    <div class="content pt10" fxLayout="row" fxLayout.xs="column" fxFlexFill>
        <div class="mb10" fxFlex="15">
            <mat-form-field appearance="fill">
                <mat-label>Street</mat-label>
                <input matInput placeholder="street" formControlName="street" name="street"
                    [(ngModel)]="emergencyInfo.street">
            </mat-form-field>
        </div>
        <div fxFlex="15">
            <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <input matInput placeholder="city" formControlName="city" name="city"
                    [(ngModel)]="emergencyInfo.city">
            </mat-form-field>
        </div>
        <div  fxFlex="15">
            <mat-form-field appearance="fill">
                <mat-label>State</mat-label>
                <input matInput placeholder="state" formControlName="state" name="state"
                    [(ngModel)]="emergencyInfo.state">
            </mat-form-field>
        </div>
        <div fxFlex="15">
            <mat-form-field appearance="fill">
                <mat-label>Pincode</mat-label>
                <input matInput placeholder="pincode" formControlName="pincode" name="pincode"
                    [(ngModel)]="emergencyInfo.pincode">
            </mat-form-field>
        </div>
    </div>
    <div class="content pt10" fxLayout="row" fxLayout.xs="column" fxFlexFill>
        <div class="mb10" fxFlex="15">
            <mat-form-field appearance="fill">
                <mat-label>Home Phone</mat-label>
                <input matInput placeholder="homePhone" formControlName="homePhone" name="homePhone"
                    [(ngModel)]="emergencyInfo.homePhone">
            </mat-form-field>
        </div>
        <div fxFlex="15">
            <mat-form-field appearance="fill">
                <mat-label>Work Phone</mat-label>
                <input matInput placeholder="workPhone" formControlName="workPhone" name="workPhone"
                    [(ngModel)]="emergencyInfo.workPhone">
            </mat-form-field>
        </div>
        <div fxFlex="15">
            <mat-form-field appearance="fill">
                <mat-label>Mobile Phone</mat-label>
                <input matInput placeholder="mobilePhone" formControlName="mobilePhone" name="mobilePhone"
                    [(ngModel)]="emergencyInfo.mobilePhone">
            </mat-form-field>
        </div>
    </div>
</form>